.w3-info {
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
}

.w3-note {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
}

.min {
    min-height: 1px;
}

#bulb {
    cursor: pointer;
}